*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #009688 18%, #DADBD4 10%);
    height: 100vh;
    font-family: 'Lato', sans-serif;
}
#app {
    height: 100%;
    max-width:1230px;;
    margin: auto;
    padding:20px;
}
img{
    width: 40px;
}
ul {
    display: flex;
    list-style: none;
}
i{
    padding:5px;
    color: #b1b1b1
}
/* -----------------
    header
----------------- */
header {
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}
.col-my-user{
    display:flex;
    width:30%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.my-user-container{
    display: flex;
    align-items: center;
}
.rounded{
    clip-path: circle();
}
.my-user-icons{
    display: flex;
    margin:5px;
}
.col-other-user{
display: flex;
flex-grow: 1;
justify-content: space-between;
align-items: center;
}
.other-user-image{
    display: flex;
}
.other-user-info{
   justify-content: center;
}
.other-user-info span{
    color:#b1b1b1;
}
.other-user-icons{
    margin:10px;
}
/* -----------------
    header
----------------- */
/* -----------------
    main
----------------- */
main {
    display: flex;
    height: calc(100% - 70px);
}
/* -----------------
    main
----------------- */
/* -----------------
    aside
----------------- */
aside {
    width: 40%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    height:100%;
}
.notifiche{
    display: flex;
    padding: 10px;
    height: 70px;
    background-color: #8edafc;
}
.circle{
    height: 40px;
    width:40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 0px 5px;
    background-color: white;

   }
   .circle i{
    color:#8edafc;
   }
  .text-notifiche{
    color: #b1b1b1;
    font-size: 12px;
    
  }
  .container-input{
    display: flex;
    border: 1px solid #d3d3d34d;
    margin:3px;
    border-radius: 2px;
}
.input button {
    color: #b1b1b1;
    width: 20%;
    background-color: #fff;
    border: none;
}
.input input {
    flex-grow: 1;
    padding: 0 10px;
    border: none;
    color: #b1b1b1;
}
.chat-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height:100%;
}
  .contact{
  height: calc(100% / 8);
    display:flex;
    margin-top:10px;
  }
  .chat-info span{
color: #b1b1b1;
  }
  .chat-info-text{
    font-size: 12px;
  }
  .chat-time{
 padding-left: 115px;
  }
/* -----------------
    aside
----------------- */
/* -----------------
    main
----------------- */
.main-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(img/mine.jpg);
}
.col-messages {
    flex-grow: 1;
    display: flex;
}
.user-text{
    margin-left: auto;
    margin: auto;
    background-color: white;
    padding: 10px 100px 10px 20px;
    border-radius: 5px;
    
    
}
.other-user-text{
    margin-right: auto;
    padding: 30px;
    
}
.greenbox{
    background-color: #d5f9ba;
    padding: 15px 100px 15px 20px;
    border-radius: 5px;
    margin-top: 5px;
}
.other-user-info{
    margin-top:5px ;
}
.col-text {
    height: 70px;
    background-color: bisque;
}
/* -----------------
    main
----------------- */